@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Roboto+Slab:wght@100&family=Work+Sans:wght@200&display=swap');
.nav-bar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    margin-right: 40px;
    
}
.logo{
    align-items: center;
    display: flex;
}
.logo>p{
    font-size: 45px;
    margin-left: 10px;
    
}
.logo>img{
    width: 86.041px;
    height: 40px;
    flex-shrink: 0;
    margin-left:80px
}
.nav-bar-item{
    margin: 20px;
    margin-right: 30px;
    padding: 5px;

}
.nav-bar-item>a{
    padding: 15px;
    text-decoration: none;
    color: #3C354F;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    align-items: center;
    margin-right: 40px;
    
}
.fa-brands, .fab {
    font-weight: 400;
    vertical-align: 0.003em;
}
.youtube{

    flex-shrink: 0;
    border-radius: 2px;
    background: rgba(64, 38, 135, 0.1);
}

.header{
    width: 100%;
    
    display: flex;
    
}
.header-image{
    
    margin-right: 120px;
    padding: 30px;
}
.header-main{
    background-image: url("./images/background.png");
    background-repeat: no-repeat;
    margin: 50px;
    font-family: Work Sans;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    
    font-family: Work Sans;
    padding: 10px;
    width: 400px;
    height: 700px;
    flex-shrink: 0;
 
    


}
.header-main h2{
    font-size: 80px;
    color:#b1187e;
    font-style: bold;
    font-weight: 800;
}
.header-main>p{
    color: #0B0223;
    font-size: 48px;

    
}
.btn-primary{
    width: 156px;
    height: 65px;
    color: white;
    font-family: Work Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    background-color: #b1187e;
    border-radius: 48px;
}
.btn-new{
    width: 156px;
    height: 65px;
    color: #b1187e;
    font-family: Work Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    background-color: #FFF;
    border-radius: 48px;
}
.btn-secondary{
    width: 156px;
    height: 65px;
    color: white;
    font-family: Work Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    background-color: #4EC5F7;
    border-radius: 48px;
}

.gamer{
    width: 100%;
    display: flex; 
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    
}
.gamerImage{
 height: 489px;
 width: 868px;
 flex-shrink: 0;
 margin-right: 100px;
}
.gamerContent{
    text-align: right;
    font-family: Work Sans;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-right: 100px;
}
.gamerContent>h2{
    font-size: 48px;
    font-weight: 700;
    color: #891c9a;
    

}
.onlineG{
    text-align: center;
    align-items: center;
    background-color: #FFF;
    margin-top: 50px;
}
.onlineG h2{
    font-size: 48px;
    font-weight: 700;
}
.funny{
    color: #891c9a;
}
.onlineGamers{
    display: flex;
   margin: 80px;
   padding: 10px;

    background-color: #FFF;
}
.onlineGamers1{
  margin: 5px;
 
}
.onlineGamers1 img{
    height: 360px;
    width: 300px;
}
.onlineGamers2{
    margin: 5px;
}
.onlineGamers2 img{
    height: 360px;
    width: 300px;
}
.onlineGamers3{
    margin: 5px;
}
.onlineGamers3 img{
    height: 360px;
    width: 300px;
}
.onlineGamers4{
   margin: 5px;
}
.onlineGamers4 img{
    height: 360px;
    width: 300px;
}
.promotion{
    
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}
.promotionImage{
margin-right: 120px;

}

.promotionmain{
    height: 520px;
    width: 500px;
}
.promotionsub{
    border-radius: 8px;
    height: 320px;
    width: 270;
    margin-top: -200px;
    margin-left: -100px;
}
.promotiontext{
    font-family: Work Sans;
    font-size: 38px;
    font-style: normal;
    text-align: center;
    margin: 50px;
    padding: 100px;
}
.promotiontext>p{
    font-size: 18px;
}
.career{
    background-color: #b1187e;
    display: flex;
    color: #FFF;
   
    height: 600px;
    align-items: center;
    

}
.text{
    font-size: 20px;
    text-align: center;
    margin: 20px;
    margin-left: 200px;
    
}
.careerImage{
    padding: 10px;
}
.careerGlobal{
    display: flex;
}
.feature{
    display: flex;
    background: #FFF;
    margin: 80px;

    justify-content: center;
    
}
.feature button{
    border:5px solid #FFF;
    border-radius: 40px;
    text-align: center;
    height: 80px;
    width: 200px;
}
.feature1{
    
    height: 5px;
    width: 200px;
    margin: 15px;
    justify-content: center; /* Center the content horizontally */
    align-items: center;
    
}
.feature1 img{
    height: 40px;
    width: 40px;
}


.feature2{
    
    height: 5px;
    width: 200px;
    margin: 10px;
    border-radius: 50px;
    
}
.feature2 img{
    height: 40px;
    width: 40px;
}
.feature3{
    
    height: 5px;
    width: 200px;
    margin: 10px;
    border-radius: 50px;
    align-content: center;
}
.feature3 img{
    height: 40px;
    width: 40px;
}
.feature4{
    
    height: 5px;
    width: 200px;
    margin: 10px;
    border-radius: 50px;
    align-content: center;
}
.feature4 img{
    height: 40px;
    width: 40px;
}
.feature5{
    
    height: 5px;
    width: 200px;
    margin: 10px;
    border-radius: 50px;
    align-content: center;
}
.feature5 img{
    height: 40px;
    width: 40px;
}
.featuresub{
    display: flex;
    background: #FFF;
    margin: 80px;

    justify-content: center;
    
}
.featuresub button{
    border:5px solid #FFF;
    border-radius: 40px;
    text-align: center;
    height: 80px;
    width: 200px;
}
.footer{
    height: 600px;
    background-color: #0B0223;
    color: #FFF;
}
.footerHeading{
    display: flex;
    justify-content: center;
    
}
.footerHeading img{
    margin-top: 130px;
    padding: 5px;
}
.footer-content{
    margin-top: 65px;
    padding: 10px;
    font-size: 40px;
    font-weight: 700;
}
.importantLinks{
    display: flex;
    justify-content: space-between;
}
.importantLinks ul{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    list-style: none;
    margin-left: 330px;
}
.importantLinks li {
    margin: 25px;
}

.socail{
    display: flex;
    align-items: center;
    margin-left: 450px;
    
    
}
.fa-twitter{
    margin:30px;
}
.fa-linkedin{
    margin:30px;
}
.fa-apple{
    margin:30px;
}
.fa-instagram{
    margin:30px;
}
.fa-facebook{
    margin:30px;
}
.user-aggreement{
    display: flex;
    justify-content: space-between; 
}
.user-aggreement ul{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    list-style: none;
    margin-left: 350px; 
}
.user-aggreement li{
    margin: 25px;
}
.copywright{
    margin-top: -30px;
    align-items: center;
    text-align: center;
}

/* .feature{
    display: flex;
    border-radius: 10px;
    background: #FFF;
    
}
.feature1{
    display: flex;
    height: 60px;
    width: 60px;
    margin: 40px;
}
.feature2{
    display: flex;
    height: 60px;
    width: 60px;
    margin: 40px;
}
.feature3{
    display: flex;
    height: 60px;
    width: 60px;
    margin: 40px;
}
.feature4{
    display: flex;
    height: 60px;
    width: 60px;
    margin: 40px;
}
.feature5{
    display: flex;
    height: 60px;
    width: 60px;
    margin: 40px;
}
.feature6{
    display: flex;
    height: 60px;
    width: 60px;
    margin: 40px;
}
.feature7{
    display: flex;
    height: 60px;
    width: 60px;
    margin: 40px;
}
.feature8{
    display: flex;
    height: 60px;
    width: 60px;
    margin: 40px;
}
.feature9{
    display: flex;
    height: 60px;
    width: 60px;
    margin: 40px;
} */
    
   